<div class="container-fluid">

  <div class="row">
    <div class="">
      <h1><%= @venue.name %></h1>
      <a href="/?lat=<%= params[:lat] %>&lng=<%= params[:lng] %>&zoom=<%= params[:zoom] %>">Back to map</a>
      <ul class="gigs">
        <% @gigs.each do |gig| %>
          <li>
            <%= gig.time %>
            Book: <%= gig.venue_booking_url %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

</div>