<!DOCTYPE html>
<html>
  <head>
    <title>Laughs</title>
    <%= csrf_meta_tags %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <%= yield :map_script %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
      <% if user_signed_in? %>
        window.user = <%= raw current_user.to_json %>;
      <% end %>
    </script>
  </head>

  <body>
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>

    <%= yield %>
  </body>
</html>
